@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    height: 100dvh;
    min-height: 670px;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 8%);;

    font-family: "Inter";
    font-size: 16px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 12%);
    border-radius: 5%;
    width: 375px;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

header h1 {
    font-weight: 600;
    margin: 5px 0px;
}

header h3 {
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin: 0px;
}

header p {
    font-weight: 400;
    margin: 20px 0px;
}

main ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

main ul li {
    background-color: hsl(0, 0%, 20%);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
}

main ul li:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    font-weight: 600;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    padding: 20px 0;
}

a {
    color: hsl(75, 94%, 57%);
}


